
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '944340393393702',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v16.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    
</body>
</html>
