body::-webkit-scrollbar{
    display: none!important;
}
.slider-img{
    height: 650px!important;
    object-fit: cover;
}

h2{
    display: math;
    background-color: #000;
    color: #ffffff;
    opacity: .6;
}

.service_icon{
    font-size: 75px;
}